<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>编辑主题【{$theme}】</h2>
	</div>

	<div class="typecho-edit-theme">
		<div class="col-mb-12 col-tb-8 col-9 content">
			<form action="{:U('save')}" id="theme" name="theme" method="post" class="form-horizontal">
				<label class="sr-only" for="content">编辑源码</label>
				<label for="content">{$Think.FRONT_THEME_PATH}{:C('FRONT_THEME')}/{$file|base64_decode}</label>
				<textarea class="w-100 mono" id="content" name="content">{$content}</textarea>
				<div class="controls">
					<input type="hidden" name="file" value="{$file|default=''}">
					<button target-form="form-horizontal" class="btn submit-btn ajax-post" type="submit">保存文件</button>
					<a class="btn btn-return" href="{:U('index')}">返回主题列表</a>
				</div>
			</form>
		</div>
		<ul class="col-mb-12 col-tb-4 col-3">
			<li><strong>模板文件</strong></li>
			<volist name="list" id="vo">
				<li>
				<a href="{:U('edit',array('name'=>$theme, 'file'=>base64_encode($vo)))}">{$vo}</a>
				</li>
			</volist>
		</ul>
	</div>

</block>

<block name="script">
<script type="text/javascript">
        //导航高亮
        // highlight_subnav('{:U('index')}');
    </script>
</block>
